/* Imported font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* Base styling */
body  {
  font-family: 'Josefin Sans', sans-serif;
  background-color: gainsboro;
}
.container  {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  width: 100px;
  height: 100px;
  background: mediumvioletred;
  color: ghostwhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hamburger div {
  background-color: rebeccapurple;
  height: 10px;
  width: 70%;
  margin: auto;
}

/* Styling for the hover state of the hamburger menu */
.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Animation for the menu */
@keyframes top {
  from { transform: translateY(0); }
  to { transform: translateY(10px) rotate(45deg); }
}

@keyframes middle {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes bottom {
  from { transform: translateY(0); }
  to { transform: translateY(-10px) rotate(-45deg); }
}

/* Styling for the navigation menu */
nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

/* Styling for the navigation links */
li {
  list-style-type: none;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: rebeccapurple;
  text-shadow: 1px 1px 2px darkgrey;
}

a:hover {
  color: ghostwhite;
}
