/* Importing required font for styling */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* Base body styling */
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: gainsboro;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  width: 100px;
  height: 100px;
  background: mediumvioletred;
  color: ghostwhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hamburger div {
  background-color: rebeccapurple;
  height: 10px;
  width: 70%;
  margin: auto;
  transition: transform 1s;
}

/* Animation for creating a centered 'X' character */
.hamburger:hover > div:nth-child(1) {
  transform: translateY(56px) rotate(45deg);
  background-color: ghostwhite;
}

.hamburger:hover > div:nth-child(2) {
  opacity: 0;
}

.hamburger:hover > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
  background-color: ghostwhite;
}

nav {
  opacity: 0;
  transition: opacity 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

li {
  list-style-type: none;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: rebeccapurple;
  text-shadow: 1px 1px 2px darkgrey;
}

a:hover {
  color: ghostwhite;
}
